body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.calculadora{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 260px;
}

#pantalla{
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;   
}

.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.botones button{
    height: 45px;
    font-size: 18px;
    cursor: pointer;
}

.cero{
    grid-column: span 2;
}


.limpiar{
    grid-column: span 4;
    background: #f44336;
    color: white;
}